<html>
<head>
<title>Acad 2015 JS Console</title>
<script type="text/javascript"
	src="http://www.autocadws.com/jsapi/v2/Autodesk.AutoCAD.js">
    </script>

<link rel="stylesheet" href ="css/palleteLoader.css">

<!-- Code Mirror Inclusion -->
<link rel="stylesheet" href="codemirror-4.2/lib/codemirror.css">
<link rel="stylesheet" href="codemirror-4.2/addon/hint/show-hint.css">
<script src="codemirror-4.2/lib/codemirror.js"></script>
<script src="codemirror-4.2/mode/javascript/javascript.js"></script>
<script src="codemirror-4.2/addon/hint/show-hint.js"></script>
<script src="codemirror-4.2/addon/hint/javascript-hint.js"></script>

</head>
<body>
  <div id="editor_pallette">
	<h3>Console Input:</h3>
	<div id="input_holder">
		<textarea name="input" id="input" cols="30" rows="5"
			style="display: none;">
     </textarea>
	</div>

	<br>

	<div id="run_button_holder">
		<button type="button" onclick=runJsCommand()>Run</button>
	</div>
	
	<div id="share_button_holder">
		<button type="button" onclick=shareJsCode()>Share</button>
    <div id="share_result"></div>
	</div>

  <div id="load_code_holder">
    Enter code:<input type="text" name="loadCodeTextbox" id="loadCodeTextbox">
    <button type="button" onclick=loadJsCode()>Load</button>
  </div>

	<br>
  <h3> Console Output: </h3>
	<div id="output_holder">
		<textarea name="output" id="output" cols="40" rows="5" disabled></textarea>
	</div>
</div>
	<script type="text/javascript">
	
   	function runJsCommand(){
   		var inputCommand = editor.getValue();
   		try{
   			eval(inputCommand);
   		}
   		catch(e){
   			console.log("Error encountered: " + e.message);
   		}
   	}

    function clear(){
      document.getElementById("output").value = "";
    }
   	
   	function shareJsCode(){
   		var request  = new XMLHttpRequest();
   		request.open('POST', '/sourceCode/create', false);
      request.setRequestHeader("Content-Type","application/json");
      
   		var JSONObj = {'codeContent':editor.getValue()};

   		request.send(JSON.stringify(JSONObj));
   		
   		if (request.status === 200) {
   		  var responseDetails = JSON.parse(request.response);
        var idToShare = responseDetails._id;
        var textToAdd = "Please share the code " + idToShare + " with your friend!"

        var resultElement = document.getElementById("share_result");
        var spanNode = document.createElement("span");
        var textNode=document.createTextNode(textToAdd);

        spanNode.appendChild(textNode);
        resultElement.appendChild(spanNode);
        
   		}
   	}
	
   	console.log = function() {
   	  var output = arguments[0];
   	  document.getElementById("output").value = document.getElementById("output").value + "\n" +  output;
   	}.bind(console.log);
   	
   	console.warn = function() {
     	  var output = arguments[0];
     	  document.getElementById("output").value = document.getElementById("output").value + "\n" + output;
     	}.bind(console.warn);

    console.error = function() {
       	  var output = arguments[0];
       	  document.getElementById("output").value = document.getElementById("output").value + "\n" + output;
       	}.bind(console.error);     	
     
  function loadJsCode(){
    var request  = new XMLHttpRequest();
    var requestUrl = '/sourceCode/' + document.getElementById("loadCodeTextbox").value
    request.open('GET', requestUrl, false);
    request.send(null);

    if (request.status === 200) {
        var reponse  = request.responseText;
        var parsedJson = JSON.parse(reponse);
        editor.setValue(parsedJson.codeContent);
      }
  }   	
 	   	
 	function decideAutoCompletion(cm,event){
    if(event.ctrlKey || event.altKey){
      return;
    }
    
    if((event.which > 64 && event.which <91)|| event.which == 190)// '.' is pressed
      CodeMirror.showHint(cm, CodeMirror.hint.javascript,{completeSingle:false});
 	}
 	
    window.onload = function() {
        CodeMirror.commands.autocomplete = function(cm) {
            CodeMirror.showHint(cm, CodeMirror.hint.javascript);
        };

        CodeMirror.commands.executeJsSript = runJsCommand;
   	
   	window.editor = CodeMirror.fromTextArea(input, {
   	  mode:  "javascript",
   	  lineNumbers:true,
   	  lineWrapping:true,
   	  extraKeys: {"Ctrl-Space":  "autocomplete",
                  "Ctrl-Enter":   "executeJsSript"
    },
   	});
   	  	
   	editor.on("keydown",decideAutoCompletion);
    };
   	</script>

</body>
</html>